# Copyright (c) 2024 Goodix
# SPDX-License-Identifier: Apache-2.0

config GR552X_RTC_TIMER
    bool "GR552X RTC timer support"
    default y
    depends on SOC_SERIES_GR552X && !DT_HAS_ARM_ARMV7M_SYSTICK_ENABLED
    select TICKLESS_CAPABLE
    help
      Enables the system timer driver for GR552X and provides the standard "system c lock driver" interface.